* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul,
ol {
	list-style-type: none;
}

a {
	text-decoration: none;
}

body {
	background-color: blueviolet;
}

main {
	max-width: 50%;
	background-color: aliceblue;
	margin: 2em auto 0 auto;
}

nav {
	display: flex;
	justify-content: space-between;
}

nav ul {
	display: flex;
	gap: 1em;
}

nav li:not(:nth-child(4)) {
	border-right: 2px solid black;
}

header {
	padding: 2.5em 0 3em 0;
	border-bottom: 4px solid black;
}

header h1,
header p {
	text-align: center;
}

